<p>months-general works!</p>

<div style="margin: 40px 20px 40px 40px">
  <form #f="ngForm" (ngSubmit)="findAllMonthsByWorldList(f)">
    <div class="mb-3">
      <label for="world" class="form-label">Search Month</label>
      <input type="text" id="world" name="world" class="form-control" ngModel #world="ngModel" value="s">

    </div>
    <button type="submit" class="btn btn-dark" onclick="document.getElementById('world').value=''">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
           viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      Find
    </button>
  </form>
  <!--  todo CreateNew html-->
  <button class="btn btn-outline-success" (click)="openModal()"
          onclick="document.getElementById('number').value='';
document.getElementById('name').value=''">
    New
  </button>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New Month</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
            aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form #formCreateNew="ngForm" (ngSubmit)="createNewMonth(formCreateNew)" class="was-validated">
            <div class="mb-3">
              <div class="needs-validation">
                <label for="number" class="form-label">Number</label>
                <input class="form-control" type="number" id="number" name="number" ngModel required>
                <div class="invalid-feedback">Field can't empty</div>
              </div>
              <div class="needs-validation">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" type="text" id="name" name="name" ngModel required>
                <div class="invalid-feedback">Field can't empty</div>
              </div>
            </div>
            <button type="submit" class="btn btn-outline-info">Ok</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" (click)="onCloseHandled()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="margin: 40px 20px 40px 40px">
  <table id="table" class="table table-striped table-light">
    <thead>
    <tr>
      <th scope="col" style="{{widthNumber}}">
        <div (mousedown)="mouseDownNumber()" (mouseleave)="mouseUpNumber()" (mouseup)="mouseUpNumber()">
          <div (mousemove)="mouseMoveNumber($event)">Number

          </div>
        </div>
      </th>
      <th scope="col" style="{{widthName}}">
        <div (mousedown)="mouseDownName()" (mouseleave)="mouseUpName()" (mouseup)="mouseUpName()">
          <div (mousemove)="mouseMoveName($event)">Name

          </div>
        </div>
      </th>
      <th scope="col" style="{{widthButton}}">
        <div (mousedown)="mouseDownButton()" (mouseleave)="mouseUpButton()" (mouseup)="mouseUpButton()">
          <div (mousemove)="mouseMoveButton($event)">Button

          </div>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let month of monthDatas">
      <th scope="row">{{month.number}}</th>
      <td>{{month.name}}</td>
      <td><p hidden="true">{{month.id}}</p>
        <div class="btn-group" role="group">

          <!--todo Edit-->
          <button class="btn btn-outline-warning" (click)="openModalEdit(month.id)">Edit</button>
          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayEdit}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Edit Month</h4>
                  <button type="button" class="close" aria-label="Close" (click)="onCloseEdit()"><span
                    aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <form #formEdit="ngForm" (ngSubmit)="createEditMonth(formEdit)" class="was-validated">
                    <div class="mb-3 ">
                      <div class="needs-validation">
                        <label class="form-label" for="idEdit">id</label>
                        <input type="number" id="idEdit" class="form-control" value="1" [value]="monthData.id"
                               name="id" ngModel required>
                        <div class="invalid-feedback">Field <i>id</i> can't be empty</div>
                      </div>
                      <div class="needs-validation">
                        <label for="numberEdit" class="form-label">Number</label>
                        <input class="form-control" type="number" id="numberEdit" placeholder="{{monthData.number}}"
                               name="number" ngModel required>
                        <div class="invalid-feedback">Field <i>number</i> can't be empty</div>
                      </div>
                      <div class="needs-validation">
                        <label for="nameEdit" class="form-label">Name</label>
                        <input class="form-control" type="text" id="nameEdit" placeholder="{{monthData.name}}"
                               name="name"
                               ngModel required>
                        <div class="invalid-feedback">Field <i>name</i> can't be empty</div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-outline-info">Ok</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" (click)="onCloseEdit()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <!--   todo       Delete-->
          <button class="btn btn-outline-danger" (click)="openModalDelete(month.id)">Delete</button>
          <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDelete}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete Month</h4>
                  <button type="button" class="close" aria-label="Close" (click)="onCloseDelete()"><span
                    aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <form #formDelete="ngForm" (ngSubmit)="deleteMonth(monthData.id)">
                    <div class="mb-3">
                      <p>{{monthData.id}}</p>
                      <input type="text" id="idDelete" class="form-control" value="{{monthData.id}}" hidden>
                      <p>{{monthData.number}}</p>
                      <input class="form-control" type="text" id="numberDelete" hidden>
                      <p>{{monthData.name}}</p>
                      <input class="form-control" type="text" id="nameDelete" hidden>
                    </div>
                    <button type="submit" class="btn btn-outline-info">Ok</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" (click)="onCloseDelete()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>





